* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.btn-toolbar > div:not(:first-child),
.btn-toolbar > button:not(:first-child) {
    margin-left: .5em;
}

.container {
    margin: 4px;
    /*overflow-y: scroll;*/
    overflow: hidden;
    /*position: fixed;*/
}

.container > div {
    padding: 1em;
}
.container {
    display: grid;
    width: 100%;
    grid-template-columns: 450px 1fr;
    grid-auto-rows: minmax(100px, auto);
}

.container__graph {
    /*grid-column: 1 / 4;
    grid-row: 1 / 2;*/
    border: 1px solid #ccc;
}

.container__graph-info {
    margin-left: 12px;
}

.btn-margin-left {
    margin-left: 4px;
}

.container__graph-area {
    max-height: 1100px; /*400px;*/
    border: 1px dashed #f0f0f0;
    /*margin-left: 20px;
    margin-top: 4px;*/
    /*z-index: 1;*/
    overflow: hidden;
}

.container__graph-area .svg-container-graph {
    width: 100%;   
}

.container__graph-data {
    grid-column: 1 / 2;
    /*grid-column: 1 / 2;*/
    grid-row: 2 / 3;
    margin-bottom: 4px;
    /*z-index: 2;*/
}

.container__graph-config {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-bottom: 4px;
    /*z-index: 2;*/
}

/* replacing the config pane */
.container__graph-selected {
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 4px;
    /*z-index: 2;*/
    border: 1px solid #ccc;
    border-left: 5px solid #ccc;
}

.container__graph-selected .heading {
    background-color: #f6f6f6;
}

.container__graph-selected .json-data-container {
    overflow: auto;
}


/* pane to show existing files */
.container__graph-files {
    grid-column: 3;
    grid-row: 2;
    margin-bottom: 4px;
    /*z-index: 2;*/
    /*overflow-y: scroll;*/
}

/* pane to show legend configuration */
.container__graph-legend {
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 4px;
    /*z-index: 2;*/
    /*overflow-y: scroll;*/
}

.container__form {
    grid-column: 5/ 6;
    grid-row: 1 / 4;
    min-width: 250px;
    /*z-index: 3;*/
}

.cross-icon {
    padding-right: 8px;
}

.cross-icon:hover {
    cursor: pointer;
}

.form-wrapper {
    overflow-y: scroll;
    max-height: 70vh;
}

.json-data-container {
    max-height: 250px;
    overflow: scroll;
}

.submit-button {
    margin-top: 22px;
}

.reset-button {
    margin-top: 22px;
    margin-left: 8px;
}

.invisible-button {
    background: transparent;
    border: none !important;
    font-size: 0;
}

.contextmenu-action {
    width: 64px;
    height: 120px;
    cursor: pointer;
}

.contextmenu-action:hover {
    background-color: #ccf2ff;
}

.contextmenu-action-icon {
    height: 64px;
}

.contextmenu-action-icon img {
    width: 100%;
}

.menu-section {
    /*background-color: #999;*/
}

.top-logo {
    width: 32px;
}

.title-input-container {
    width: 452px;
}

.title-input-container input {
    border-top: none;
    border-left: none;
    border-right: none;
}

.search-section {
    background-color: #ddd;
}

.search-container {
    width: 500px;
}
